<h1>Editing details item</h1>

<%= render "form", details_item: @details_item %>

<br>

<div>
  <%= link_to "Show this details item", @details_item %> |
  <%= link_to "Back to details items", details_items_path %>
</div>
